SERVER_IP=# your local server ip: 192.168.x.x
DOMAIN=something.duckdns.org
TZ=# your timezone
GID-1000=# your linux user gid 
EMAIL= # email used for Authelia

# Domains
AUTH_DOMAIN=auth.${DOMAIN}
IMMICH_DOMAIN=photos.${DOMAIN}

# Traefik
LETSENCRYPT_EMAIL=${EMAIL}
# Crowdsec
CROWDSEC_COLLECTIONS="crowdsecurity/linux crowdsecurity/traefik crowdsecurity/appsec-virtual-patching crowdsecurity/appsec-generic-rules LePresidente/authelia"

# Credentials
CROWDSEC_BOUNCER_API_KEY=
DUCKDNS_TOKEN=
######## Authelia  ############
# For the following 4 values, generate a random secret for this using Authelia or OpenSSL: 
# https://www.authelia.com/reference/guides/generating-secure-values/#generating-a-random-alphanumeric-string
AUTHELIA_JWT_PASSWORD=
AUTHELIA_SESSION_SECRET=
AUTHELIA_STORAGE_ENCRYPTION_KEY=
AUTHELIA_OIDC_HMAC_SECRET=

# This is used for mobile traffic, currently Immich on mobile is not setup to follow redirects, ie, the redirect to Authelia 
# Therefore we use the custom proxy headers feature on Immich mobile: https://github.com/immich-app/immich/pull/10588
# This is found in Settings > Advanced > Custom proxy headers 
# In there, you specify the header name and header value which is the AUTHELIA_SKIP_HEADER
# and AUTHELIA_SKIP_SECRET value respectively. 
# WARNING!!!: Anyone that knows these values can skip Authelia, ie, the auth server and go directly to the application 
# TREAT THESE VALUES LIKE A PASSWORD!
AUTHELIA_SKIP_HEADER=X-Skip-Auth
# I recommend using a 256 character or longer secret
AUTHELIA_SKIP_SECRET=

###### Authelia OIDC  ############
AUTHELIA_IDENTITY_PROVIDERS_OIDC_HMAC_SECRET=

# Immich
# Guide for setting up OIDC, the configuration is already done, just need the secrets: https://www.authelia.com/integration/openid-connect/clients/immich/
IMMICH_CLIENT_ID=
IMMICH_CLIENT_SECRET_HASHED=

# SMTP server (for example Google can be used)
# For Google setup: https://www.geeksforgeeks.org/techtips/how-to-use-the-gmail-smtp-server-to-send-emails-for-free/
EMAIL_SERVER_USER=${EMAIL}
EMAIL_SERVER_PASSWORD=
EMAIL_SERVER=
EMAIL_SERVER_PORT=
EMAIL_FROM=${EMAIL}

